# Ignore generated or temporary files managed by the Workbench
.project/*
!.project/spec.yaml
!.project/configpacks

# General ignores
.DS_Store
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.Trash-0

# Workbench Project Layout
data/documents/*
!data/documents/.gitkeep

data/scratch/*
!data/scratch/.gitkeep

# Byte-compiled / optimized / DLL files

# Temp directories, notebooks created by jupyterlab
.Trash-*/
.jupyter/
.local/

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/